.head{
  background: #084CA4;
  width: 100%;
  display: flex;
  /* justify-content: center;  */
  align-items: center;
 
}
.head_text{
  flex-grow: 1;
    /* justify-content: center;  */
    align-items: center;
    color: white;
    margin-top: 21px;
    margin-right: 40px;
    margin-left: 5vh;  flex-grow: 1;
    margin-bottom: 21px;
}


/* ************************************************************************************************************************************************** */
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.toggle-switch{
  margin-right: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
 
}

input:checked + .slider {
  background-color: #303136;
  box-shadow: inset 8px 8px 8px #000000,
  inset -8px -8px 8px #000000;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}



/* *************************************************************************************** */


.hover_head{
  position: absolute;
  top: 85px;
  margin-left: -200px;
  /* display: none; */
  transition: opacity 0.3s ease-in-out; /* Add a transition for smooth appearance */
  opacity: 0; 
}
.button_head{
    size: 100px;
    background: none;
    border: none;
    margin-right: 5px;
}
.contant_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_head:hover .hover_head ,.button_head{
  display: flex;
  z-index: 5;
  opacity: 1; /* Make the card visible */
  transition-delay: 0.3s; 
}
/* ************************************************************************************ */
.login-card {
  width: 220px;
  height: 110px;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(193, 193, 193);

}

.instruction-text {
  color: rgb(150, 150, 150);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: px;
}
.wel {
  font-size: 24px;
  color: #333; /* Adjust color as needed */
}
.login-card button {
  cursor: pointer;
  justify-content: center;
}

.normal-signin {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 15px;
  border: 2px solid transparent;
  border-radius: 5em;
  background-color: #1b77da;
  color: #f2f2f2;
  font-weight: bold;
  font-family: sans-serif;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s; /* Updated transition properties */
}

.normal-signin:hover {
  background-color: #f2f2f2; /* Change background color on hover */
  color: #1b77da; /* Change text color on hover */
  border-color: #1b77da; /* Change border color on hover */
}


.create-account {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid transparent;
  border-radius: 5em;
  background-color: #e8e8e8;
  color: #1b77da;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.create-account:hover {
  background-color: transparent;
  color: #1b77da;
  border: 2px solid #1b77da;
}

.alternate-login {
  margin-left: 42px;
  margin-top: 5px;
  background-color: #f2f2f2;
  border-radius: 5em;
}

.m-sign {
  padding: 7px;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 5em;
  margin-top: 5px;
  background-color: #7FBA00;
  border: 2px solid transparent;
  transition: 0.2s;
}

.m-sign svg {
  width: 27px;
  height: 27px;
  margin-top: -2px;
  margin-left: -2px;
  fill: #f2f2f2;
}

.m-sign:hover {
  background-color: transparent;
  border: 2px solid #7FBA00;
}

.m-sign:hover svg {
  fill: #7FBA00;
}

.g-sign {
  padding: 7px;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 5em;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #DB4437;
  border: 2px solid transparent;
  transition: 0.2s;
}

.g-sign svg {
  width: 23px;
  height: 25px;
  margin-top: -1.5px;
  fill: #f2f2f2;
}

.g-sign:hover {
  background-color: transparent;
  border: 2px solid #DB4437;
}

.g-sign:hover svg {
  fill: #DB4437;
}

.a-sign {
  padding: 7px;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 5em;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #000000;
  border: 2px solid transparent;
  transition: 0.2s;
}

.a-sign svg {
  width: 25px;
  height: 25px;
  margin-top: -1px;
  margin-left: -1px;
  fill: #f2f2f2;
}

.a-sign:hover {
  background-color: transparent;
  border: 2px solid #000000;
}

.a-sign:hover svg {
  fill: #000000;
}